<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liberia Business Registry</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/background_style.css">
</head>

<body>


<div class="business-registration-form">
    <h1> Business Registration Form </h1>
    <form>
   <p>
       <label for="bName"> Full Name of Business:   <input id="bName" name="FullNameOfBusiness" type="text" required> </label><br>

       <label for="location"> Exact Location of Bussiness: <input type="text" id="location" required> </label><br>

       <label>Town/Village/Street:<input type="text"></label>

       <label for="county">County:
       <select id="county" name="county">
           <option value="Montserrado"> Montserrado </option>
           <option value="Bong">Bong</option>
           <option value="Maryland">Maryland</option>
            <option value="Lofa"> Lofa </option>
           <option value="Grand Bassa">Grand Bassa</option>
           <option value="Grand Gedeh">Grand Gedeh</option>
           <option value="Margibi">Margibi</option>
           <option value="Nimba>">Nimba</option>
            <option value="Bomi"> Bomi</option>
           <option value="Grand Kru">Kru</option>
           <option value="Sinoe">Sinoe</option>
            <option value="Gbarpolu"> Gbarpolu</option>
           <option value="River Gee">River Gee</option>
           <option value="Grand Cape Mount">Grand Cape Mount </option>
           <option value="Rivercess">Rivercess</option>
    </select> </label>


       <label for="phone">Telephone:
       <input type="tel" id="phone" required> </label><br>

       <label for="email"> Email:
       <input type="tel" id="email" required></label><br>

       <label for="specificNatureOfBusiness" >Specific Nature Of Business:
       <input type="text" id="specificNatureOfBusiness" required></label><br>

       <label for="otherIntent"> Other Areas You Intend To Engage:
       <input type="text" id="otherIntent" required></label><br>

       <label for="investmentCapital"> Investment Capital US$/L$:
       <input type="text" id="investmentCapital" required></label><br>

       <label for="sourceOfFounding"> Source of Founding:
       <input type="text" id="sourceOfFounding" required></label><br>

       <label for="dOE"> Date Establishment Intends To Commence Operation:
       <input type="text" id="dOE" required></label><br>

       <label> Note: ALL IMPORT/EXPORT CORPERATIONS SHALL OBTAIN A CERTIFICATE OF PERMIT AND SHOULD BE INCORPERATED.</label><br>
       <input type="submit" class="btn" value="Next">



   </p>
</form>
</div>


<div class="vertical-menu">
    <div class="sidebar">
        <h2> Business Registration Form </h2>
        <ul>
            <li> <a href="# Form of Business"> Form Of Business </a></li>
            <li> <a href="# Business Details"> Business Details</a></li>
            <li> <a href="Owners">Owner(s)</a></li>
        </ul>
</div>



</div>


</body>
</html>